.practicar{
    border: 1px solid black;
    padding: 16px;
}

.practicar > h3{
    font-size: 1.5rem;
    margin: 20px 0px;
}

.article{
    background: radial-gradient(216% 106% at 6% 3%, 
                rgba(38,246,99, .3 ) 0%, 
                rgb(38, 138, 255, .3 ) 52%, 
                rgb(252, 85, 255, .3) 100%),
                rgba(0,4,55);
    border-radius: 16px;
    padding: 0px 0px 0px 22px;
    color: white;
    overflow: hidden;

    display: flex;
    min-height: 300px;

    position: relative;
}

.article > div > p{
    /* font-weight: bold; */
    margin: 0px;
    font-size: 1.2rem;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 26px 0px 20px 0px;
}

.content > h3{ 
    margin: 0px;
    font-size: 1.5rem;
}

.content > p{
    font-size: 1em;
    margin: 0px;
    display: flex;
    gap: 10px;
}

.imagenes{
    min-height: 90px;
    overflow: hidden;
    display: flex;
    align-items: end;
}

.imagenes > img{
    min-height: 90px;
}

.super{
    background: rgb(36,204,5);
    background: linear-gradient(90deg, 
                rgb(6, 230, 29) 7%, 
                rgba(23,198,204,1) 23%, 
                rgba(17,164,230,1) 50%,
                rgb(61, 53, 220) 74%, 
                rgb(228, 14, 248) 93%);
    border-radius: 6px;
    padding: 1px 7px;
    color: white;
    text-shadow: 1px 1px 1px rgba(13, 0, 255, 0.648) ;
    font-family:sans-serif;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transform: rotate(10deg) skew(-10deg, -10deg);
}

.notification{
    background-color: red;
    position: absolute;
    border-radius: 16px;
    padding: 4px 10px;
    top: -30px;
    right: -10px;

    color: white;
    font-weight: bold;
}

.pratica-btn{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    font-weight: bolder;
    color: rgb(0, 0, 122);
    background-color: beige;
    border-bottom: 4px solid grey;
    border-radius: 16px;
    padding: 10px 12px;
    display: inline-block;

    position: absolute;
    bottom: 20px;
}

.btn{
    border: 2px solid grey;
    border-bottom: 4px solid grey;
    border-radius: 16px;
    
    display: flex;
    gap: 16px;
    padding: 0px 0px 0px 16px;
    margin: 10px 0px;

    min-height: 100px;
    position: relative;
}

.btn:hover{
    background-color: rgba(166, 166, 166, 0.539);
    cursor: pointer;
}